//- index page

if is_home()
  h4.page-title 

  article.full

    //- page content to be filled in here
    
    div(class='dates')
      h6 Dates  
      div
        p Reception: 25th Feb 2018, 6:30PM onwards
        p Muhurtham: 26th Feb 2018, 6:00 to 7:30AM

    div(class='agenda')
      h6 Agenda
      ul(class='agenda-list') 
        li(class='agenda-list-item') 
          div
            div Time 1
            div Function 1 
            div Desc 1
        li(class='agenda-list-item') 
          div
            div Time 2
            div Function 2
            div Desc 2
        li(class='agenda-list-item')  
          div
            div Time 3
            div Function 3 
            div Desc 3

    div(class='venue')
      h6 Venue
      p VRG Thirumana Mahal, Edayarpalayam, Coimbatore
      div
        iframe(class='venue-map', width="660", height="371", frameborder="0", style="border:0", src=config.venue_location_url, allowfullscreen=true)

    div(class="pics-carousel")  
      h6 In case you missed,
      div(class="slider carousel")
        each id in [1,2,3,4,5,6,7,8]
          img(src='/images/carousel-r-' + id + '.jpg', title='')

    div(class='to-do-in-cbe')
      h6 Things to do while you're in Coimbatore
      ul
        li Topslip
        li Black Thunder Water Theme Park
        li Ooty
        li Kovai Kutralam Falls
        li Kovai Kondattam Theme Park 
        li Isha Dhyanalinga Temple
        li Marudamalai Temple
        li Brookfields Mall
        li Fun City Mall
        li G.D. Naidu Industrial Exhibition
        
    div(class='contact-us')
      h6 Contact Us
      p You can drop your emails to kvignsh@gmail.com
  
  footer(itemscope, itemtype='https://schema.org/WPFooter')
    include _footer