//- logo
if theme.logo
  a(href= config.root, class='first fadeInUp logo-link')
    img(src= theme.logo, alt= config.title, title= config.title)

//- Names
h1(class='page-title second fadeInUp')
  a(href= config.root, alt= config.title, title= config.title, itemprop='headline')= config.title

//- 'are getting married' text
div(style="margin: 0px auto; position: relative; max-width: 250px; display: inline-block")
  p(itemprop='description', class='third getting-married-text fadeInUp')!= config.description1

//- Collage picture
img(src='/images/heart-pics.png', class='fourth fadeInUp heart-pic', alt= config.title, title= config.title, style='margin-top: 40px')

//- Count down flip clock
div(class='clock flip-clock')