if theme.logo
  a(href= config.root, class='logo-link')
    img(src= theme.logo, alt= config.title, title= config.title)
h1
  a(href= config.root, alt= config.title, title= config.title, itemprop='headline')= config.title
//p(itemprop='description')!= config.description1
//p(itemprop='description')!= config.description2
nav(itemscope, itemtype='https://schema.org/SiteNavigationElement')
  ul
    theme.menu && each url, label in theme.menu
      li(itemprop='name')
        a(href= url, alt= label, title= label, itemprop='url')= label